<ion-view view-title="关于作者">
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" onClick="window.open('https://github.com/phodal', '_system', 'location=yes')">
      @Phodal
      <i class="icon ion-social-github"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap">
      Weibo: @Phodal
      <i class="icon ion-social-twitter-outline"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap">
      知乎: @Phodal
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" onClick="window.open('https://www.phodal.com/', '_system', 'location=yes')">
      Blog: https://www.phodal.com/
      <i class="icon ion-social-wordpress-outline"></i>
    </ion-item>
  </ion-content>
</ion-view>
