<ion-view view-title="关于">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Growth 技能树
      </div>

      <div class="item item-text-wrap">
        开源应用 "Growth：带你成为顶尖程序员" 的技能树版
      </div>
      <ion-item class="item item-icon-right" type="item-text-wrap"
                onClick="window.open('https://itunes.apple.com/cn/app/growth/id1078807522?l=zh&ls=1&mt=8', '_system', 'location=yes')">
        立即下载 iOS 版<i class="icon ion-social-apple-outline"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap"
                onClick="window.open('market://details?id=ren.growth', '_system', 'location=yes')">
        立即下载 Android 版 <i class="icon ion-social-android-outline"></i>
      </ion-item>
    </div>

    <div class="card">
      <div class="item item-divider">
        关于作者
      </div>
      <ion-item class="item item-icon-right" type="item-text-wrap"
                onClick="window.open('https://github.com/phodal', '_system', 'location=yes')">
        @Phodal
        <i class="icon ion-social-github"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap"
                onClick="window.open('http://weibo.com/phodal', '_system', 'location=yes')">
        微博: @Phodal
        <i class="icon ion-social-twitter-outline"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap"
                onClick="window.open('https://www.zhihu.com/people/phodal', '_system', 'location=yes')">
        知乎: @Phodal
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap"
                onClick="window.open('https://www.phodal.com/', '_system', 'location=yes')">
        博客: https://www.phodal.com/
        <i class="icon ion-social-wordpress-outline"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap">
        微信公众号：phodal-weixin
        <i class="icon ion-ios-baseball"></i>
      </ion-item>
    </div>
    <div class="card">
      <div class="item item-divider">
        License: The MIT License (MIT)
      </div>

      <div class="item item-text-wrap">
        <p>Copyright (c) 2013 352 Media Group</p>
        <p>Copyright (c) 2016 Phodal Huang</p>

        <p>Permission is hereby granted, free of charge, to any person obtaining a copy of
          this software and associated documentation files (the "Software"), to deal in
          the Software without restriction, including without limitation the rights to
          use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
          the Software, and to permit persons to whom the Software is furnished to do so,
          subject to the following conditions:</p>

        <p>The above copyright notice and this permission notice shall be included in all
          copies or substantial portions of the Software.</p>

        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
          IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
          FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
          COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
          IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
          CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
      </div>
    </div>


  </ion-content>
</ion-view>
