ion-scroll {
  width: 100%;
  height: 100%;
}

svg#logo {
  width: 1200px;
  overflow: visible;
  margin: 0 auto;
  padding: 10px;
}

.node rect {
  stroke: #333;
  fill: #fff;
}

g.node rect {
  stroke: #bdc3c7;
  stroke-width: 2px;
  cursor: pointer;
}

g.node rect.inner {
  fill: white;
}

g.node rect.outer {
  position: absolute;
  display: none;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}

g.selected rect.outer {
  display: inline;
}

rect.selection {
  stroke: gray;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}

.edgePath path {
  stroke: gray;
  fill: gray;
  stroke-width: 2px;
}

.node text {
  pointer-events: none;
}

/* disable text selection */
svg *::selection {
  background: transparent;
}

svg *::-moz-selection {
  background: transparent;
}

svg *::-webkit-selection {
  background: transparent;
}

g.has-point.node rect {
  fill: #ffdc00 !important;
  stroke: #387ef5;
}

.splash-img svg {
  /* Set rules to fill background */
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.splash-img,
#obturateur1 {
  stroke-width: 4;
  stroke-miterlimit: 10;
  color: #3D489E;
}

svg#splash * {
  fill: none;
  stroke: currentColor;
}

svg,
div.scroll {
  height: 100%;
  width: auto;
}

.process-bar {
  padding: 10px 0 0;
}

.meter {
  height: 20px;  /* Can be anything */
  position: relative;
  background: #555;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(43,194,83)),
          color-stop(1, rgb(84,240,84))
  );
  background-image: -moz-linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
  );
  -webkit-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
  box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
          -webkit-gradient(linear, 0 0, 100% 100%,
          color-stop(.25, rgba(255, 255, 255, .2)),
          color-stop(.25, transparent), color-stop(.5, transparent),
          color-stop(.5, rgba(255, 255, 255, .2)),
          color-stop(.75, rgba(255, 255, 255, .2)),
          color-stop(.75, transparent), to(transparent)
          );
  background-image:
          -moz-linear-gradient(
                  -45deg,
                  rgba(255, 255, 255, .2) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, .2) 50%,
                  rgba(255, 255, 255, .2) 75%,
                  transparent 75%,
                  transparent
          );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}