ion-scroll {
  width: 100%;
  height: 100%;
}

svg {
  width: 1200px;
  overflow: visible;
  margin: 0 auto;
  padding: 10px;
}

.node rect {
  stroke: #333;
  fill: #fff;
}

g.node rect {
  stroke: #bdc3c7;
  stroke-width: 2px;
  cursor: pointer;
}

g.node rect.inner {
  fill: white;
}

g.node rect.outer {
  position: absolute;
  display: none;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}

g.selected rect.outer {
  display: inline;
}

rect.selection {
  stroke: gray;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}

.edgePath path {
  stroke: gray;
  fill: gray;
  stroke-width: 2px;
}

.node text {
  pointer-events: none;
}

/* disable text selection */
svg *::selection {
  background: transparent;
}

svg *::-moz-selection {
  background: transparent;
}

svg *::-webkit-selection {
  background: transparent;
}

g.can-add-points.node rect {
  fill: #2bb8c9 !important;
  stroke: #387ef5;
}

.splash img {
  /* Set rules to fill background */
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1.5);
}
